.container {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.details {
	padding: 30px 30px 0px;
}

.header {
	display: flex;
}

.employee-image {
	padding-right: 30px;
	width: 150px;
	height: 150px;
}

.employee-details {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
}

.employee-details > .row > span:first-child {
	margin-right: 10px;
}

hr.solid {
	border-top: 3px solid #bbb;
	width: 100%;
}

.manager-container {
	display: flex;
	justify-content: space-between;
}

footer {
	padding: 0px 30px 30px;
	text-align: center;
}
