<h1>Employee List</h1>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Position</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Itamar Davidyan</td>
			<td>Fullstack Developer</td>
			<td><input type='button' value='View' /></td>
		</tr>
		<tr>
			<td>Itamar Davidyan</td>
			<td>Fullstack Developer</td>
			<td><input type='button' value='View' /></td>
		</tr>
		<tr>
			<td>Itamar Davidyan</td>
			<td>Fullstack Developer</td>
			<td><input type='button' value='View' /></td>
		</tr>
	</tbody>
</table>
